.box {
  max-width: 30%;
  align-items: center;
  margin: 0 auto;

  border: 5px solid darkgoldenrod;
}

.resume {
  background: #233;
  max-height: max-content;
}

.text {
  text-align: center;
}
.title {
  color: tomato;
}
.subtitle {
  padding: 0;
  color: tomato;
  margin-left: 0;
  margin-right: 0;
}
.subtitle1 {
  padding: 0;
  color: tan;
}

@media only screen and (max-width: 800px) {
  .box {
    max-width: 100%;
    max-height: 20vh;
  }
}

